.new-trip-button {
    width: 40px;
    height: 40px;
    background-color: #5A55F3;
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
    border-radius: 100%;
    line-height: 15px;
    border: none;
}

.new-trip-button:hover {
    background-color: #413bba;
}