.login-container {
  background-color: #FFFFFF;
  border-radius: 10px;
}

.login-submit-button {
  width: 100%;
  margin-top: 30px;
  background-color: #5A55F3;
  border: none
}

.login-submit-button:hover {
  background-color: #413bba;
  border: none
}

.login-submit-button:focus {
  background-color: #413bba;
  border: none
}