@media (min-width: 768px) {
    .buttons-container {
        display: flex;
        justify-content: flex-end;
    }
}

@media (max-width: 768px) {
    .buttons-container {
        display: flex;
        justify-content: flex-start;
    }
}