nav {
    border-bottom: thin solid #E5E5E5;
}

.logout {
    text-decoration: none;
}

.user-picture {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #e5e5e5;
}

.user-info {
    padding-left: 20px;
}

.name {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

.gear {
    width: 40px;
    margin-left: 10px;
}

.home-link {
    text-decoration: none;
    color: #000;
}

#footer {
    position: fixed;
    height: 60px;
    background-color: #5D00E2;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px 0;
    margin-bottom: 0px;
    align-content: space-between;
}

.show {
    display: none;
}

@media (max-width: 768px) {
    .hide {
        display: none;
    }
    .show {
        display: flex;
        margin: auto;
    }
}