.template-private-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  border-bottom: thin solid #E5E5E5;
}

.template-private-navbar a {
  color: #000000;
  text-decoration: none;
  font-size: 22px;
}

.template-private-iron-projects-logo {
  font-size: 32px !important;
}

.template-private-nav-links a + a {
  margin-left: 50px;
}

.template-private-content {
  padding: 80px 100px;
}